/* PROCEDURE IMAGES */
.ideal_candidates {
    background-image: url(../images/procedure_images/ideal_candidate_female.jpg);
}

/* FACELIFT */

.about_facelift {
    background-image: url(../images/procedure_images/facelift/about_facelift.jpg)
}

.anticipated_facelift {
    background-image: url(../images/procedure_images/facelift/facelift2.jpg)
}

.results_facelift {
    background-image: url(../images/procedure_images/facelift/expected_facelift.jpg)
}

/* armlift */

.about_armlift {
    background-image: url(../images/procedure_images/armlift/armlift3.jpg)
}

.anticipated_armlift {
    background-image: url(../images/procedure_images/armlift/armlift2.jpg)
}

.results_armlift {
    background-image: url(../images/procedure_images/armlift/armlift1.jpg)
}

/* belotero balance */

.about_belotero {
    background-image: url(../images/procedure_images/belotero/beloterobalance3.jpg)
}

.anticipated_belotero {
    background-image: url(../images/procedure_images/belotero/beloterobalance2.jpg)
}

.results_belotero {
    background-image: url(../images/procedure_images/belotero/beloterobalance1.jpg)
}

/* biote*/

.about_biote {
    background-image: url(../images/procedure_images/biote/biote3.jpg)
}

.anticipated_biote {
    background-image: url(../images/procedure_images/biote/biote2.jpg)
}

/* Brazilian Butt Lift*/

.about_brazilianbuttlift {
    background-image: url(../images/procedure_images/buttlift/buttlift2.jpg)
}

.anticipated_brazilianbuttlift {
    background-image: url(../images/procedure_images/buttlift/buttlift1.jpg)
}

.results_brazilianbuttlift {
    background-image: url(../images/procedure_images/buttlift/buttlift3.jpg)
}

/* Botox*/

.about_botox {
    background-image: url(../images/procedure_images/botox/botox1.jpg)
}

.anticipated_botox {
    background-image: url(../images/procedure_images/botox/botox2.jpg)
}

.results_botox {
    background-image: url(../images/procedure_images/botox/botox3.jpg);
    background-position: 50% 10% !important;

}

/* Breast Augmentation */

.about_breastaugmentation {
    background-image: url(../images/procedure_images/breast/breast1.jpg)
}

.anticipated_breastaugmentation {
    background-image: url(../images/procedure_images/breast/breast2.jpg)
}

.results_breastaugmentation {
    background-image: url(../images/procedure_images/breast/breast4.jpg);
    background-position: 50% 60% !important;

}


/* Breast lift */


.about_breastlift {
    background-image: url(../images/procedure_images/breast/breast1.jpg)
}

.anticipated_breastlift {
    background-image: url(../images/procedure_images/breast/breast2.jpg)
}

.results_breastlift {
    background-image: url(../images/procedure_images/breast/breast6.jpg);
    background-position: 50% 60% !important;

}

/* Breast reduction */


.about_breastreduction {
    background-image: url(../images/procedure_images/breast/breast1.jpg)
}

.anticipated_breastreduction {
    background-image: url(../images/procedure_images/breast/breast2.jpg)
}

.results_breastreduction {
    background-image: url(../images/procedure_images/breast/breast7.jpg);
    background-position: 50% 60% !important;

}

/* Breast Revision */

.about_breastrevisionsurgery {
    background-image: url(../images/procedure_images/breast/breast1.jpg)
}

.anticipated_breastrevisionsurgery {
    background-image: url(../images/procedure_images/breast/breast2.jpg)
}

.results_breastrevisionsurgery {
    background-image: url(../images/procedure_images/breast/breast4.jpg);
    background-position: 50% 60% !important;

}

/* Brow Lift */

.about_browlift {
    background-image: url(../images/procedure_images/browlift/browlift1.jpg)
}

.anticipated_browlift {
    background-image: url(../images/procedure_images/browlift/browlift2.jpg)
}

.results_browlift {
    background-image: url(../images/procedure_images/browlift/browlift4.jpg)
}

/* Brazilian Butt Lift*/

.about_buttaugmentation {
    background-image: url(../images/procedure_images/buttlift/buttlift2.jpg)
}

.anticipated_buttaugmentation {
    background-image: url(../images/procedure_images/buttlift/buttlift1.jpg)
}

.results_buttaugmentation {
    background-image: url(../images/procedure_images/buttlift/buttlift3.jpg);
    background-position: 50% 70% !important;
}

/* Calf augmentation */

.about_calfaugmentation {
    background-image: url(../images/procedure_images/calfaugmentation/calfaugmentation1.jpg)
}

.anticipated_calfaugmentation {
    background-image: url(../images/procedure_images/calfaugmentation/calfaugmentation2.jpg)
}

.results_calfaugmentation {
    background-image: url(../images/procedure_images/calfaugmentation/calfaugmentation3.jpg)
}

/* kybella */

.about_kybella {
    background-image: url(../images/procedure_images/kybella/kybella1.jpg)
}

.anticipated_kybella {
    background-image: url(../images/procedure_images/kybella/kybella2.jpg)
}

.results_kybella {
    background-image: url(../images/procedure_images/kybella/kybella3.jpg)
}

/* labiaplasty */

.about_labiaplasty {
    background-image: url(../images/procedure_images/labiaplasty/labiaplasty2.jpg)
}

.anticipated_labiaplasty {
    background-image: url(../images/procedure_images/labiaplasty/labiaplasty1.jpg)
}

.results_labiaplasty {
    background-image: url(../images/procedure_images/labiaplasty/labiaplasty3.jpg)
}

/* laser hair removal */

.about_laserhairremoval {
    background-image: url(../images/procedure_images/laserhairremoval/laserhairremoval1.jpg)
}

.anticipated_laserhairremoval {
    background-image: url(../images/procedure_images/laserhairremoval/laserhairremoval2.jpg)
}

.results_laserhairremoval {
    background-image: url(../images/procedure_images/laserhairremoval/laserhairremoval3.jpg)
}

/* laser skin resurfacing */

.about_laserskinresurfacing {
    background-image: url(../images/procedure_images/laserskinresurfacing/laserskinresurfacing1.jpg)
}

.anticipated_laserskinresurfacing {
    background-image: url(../images/procedure_images/laserskinresurfacing/laserskinresurfacing2.jpg)
}

.results_laserskinresurfacing {
    background-image: url(../images/procedure_images/laserskinresurfacing/laserskinresurfacing3.jpg)
}

/* laser vein therapy */

.about_laserveintherapy {
    background-image: url(../images/procedure_images/laserveintherapy/laserveintherapy1.jpg)
}

.anticipated_laserveintherapy {
    background-image: url(../images/procedure_images/laserveintherapy/laserveintherapy2.jpg)
}

.results_laserveintherapy {
    background-image: url(../images/procedure_images/laserveintherapy/laserveintherapy3.jpg)
}

/* lip enhancement */

.about_lipenhancement {
    background-image: url(../images/procedure_images/lipenhancement/lipenhancement1.jpg)
}

.anticipated_lipenhancement {
    background-image: url(../images/procedure_images/lipenhancement/lipenhancement3.jpg);
    background-position: 50% 60% !important;

}

.results_lipenhancement {
    background-image: url(../images/procedure_images/lipenhancement/lipenhancement2.jpg);
    background-position: 50% 45% !important;

}

/* liposuction */

.about_liposuction {
    background-image: url(../images/procedure_images/liposuction/liposuction1.jpg)
}

.anticipated_liposuction {
    background-image: url(../images/procedure_images/liposuction/liposuction2.jpg)
}

.results_liposuction {
    background-image: url(../images/procedure_images/liposuction/liposuction3.jpg)
}

/* lower body lift */

.about_lowerbodylift {
    background-image: url(../images/procedure_images/lowerbodylift/lowerbodylift1.jpg)
}

.anticipated_lowerbodylift {
    background-image: url(../images/procedure_images/lowerbodylift/lowerbodylift2.jpg)
}

.results_lowerbodylift {
    background-image: url(../images/procedure_images/lowerbodylift/lowerbodylift3.jpg)
}

/* microneedling */

.about_microneedling {
    background-image: url(../images/procedure_images/microneedling/microneedling2.jpg)
}

.anticipated_microneedling {
    background-image: url(../images/procedure_images/microneedling/microneedling1.jpg)
}

.results_microneedling {
    background-image: url(../images/procedure_images/microneedling/microneedling3.jpg)
}

/* mid face lift */

.about_midfacelift {
    background-image: url(../images/procedure_images/midfacelift/midfacelift1.jpg)
}

.anticipated_midfacelift {
    background-image: url(../images/procedure_images/midfacelift/midfacelift2.jpg)
}

.results_midfacelift {
    background-image: url(../images/procedure_images/midfacelift/midfacelift3.jpg)
}

/* mommy makeover */

.about_mommymakeover {
    background-image: url(../images/procedure_images/mommymakeover/mommymakeover1.jpg)
}

.anticipated_mommymakeover {
    background-image: url(../images/procedure_images/mommymakeover/mommymakeover2.jpg)
}

.results_mommymakeover {
    background-image: url(../images/procedure_images/mommymakeover/mommymakeover3.jpg)
}

/* neck liposuction */

.about_neckliposuction {
    background-image: url(../images/procedure_images/neckliposuction/neckliposuction1.jpg)
}

.anticipated_neckliposuction {
    background-image: url(../images/procedure_images/neckliposuction/neckliposuction2.jpg);
    background-position: 50% 50% !important;

}

.results_neckliposuction {
    background-image: url(../images/procedure_images/neckliposuction/neckliposuction3.jpg)
}

/* nose surgery */

.about_nosesurgery {
    background-image: url(../images/procedure_images/nosesurgery/nosesurgery1.jpg)
}

.anticipated_nosesurgery {
    background-image: url(../images/procedure_images/nosesurgery/nosesurgery2.jpg)
}

.results_nosesurgery {
    background-image: url(../images/procedure_images/nosesurgery/nosesurgery3.jpg)
}