.section-service__wrapper {
    background: white;
}

.spacer-single {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
}

.inner-padding {
    padding: 50px 0 50px 0;
}

.filterframe {
    display: inline-block;
    background: white;
    /* width: 200px;
    height: 200px; */
}

.sub_page__overlay {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

span.overlay:hover {
    background: transparent;
}

.background-wrapper:nth-child(even) {
    background: #f0f0f0;
}

#view-all-projects {
    background: url(../images-bunkis/banner-bg-test.jpg);
    height: 200px;
    background-attachment: fixed;
    position: relative;
    box-sizing: border-box;
    transition: all .2s;
}

.project-name__specific {
    font-size: 1.8rem;
}

.video-yt {
    height: 300px;
    align-self: center;
}

.videoHeader {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .video-yt {
        height: 240px;
    }
}

@media only screen and (max-width: 768px) {
    #subheader {
        height: 300px;
    }

    .subheader_container {
        height: 100%;
    }

    .subheader_row {
        height: 100%;
    }
}

.related_procedures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialContainer {
    min-height: 200px;
    padding: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ocpsImg {
    height: 160px;
    background-color: black;
}

.testimonialTitle {
    text-align: center;

}

.button {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #aaaaaa;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    opacity: .8;
}

.button:hover {
    border-color: transparent transparent transparent #ececec;
}

@media only screen and (max-width: 992px) {
    .filterGallery {
        display: none;
    }
}

.video_outline{
    display: flex;
}

.background-image-procedure {
    background-position: 50% 20%!important;
    background-size: cover!important;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
}

/* PROCEDURE IMAGES */
.ideal_candidates {
    background-image: url(../images/procedure_images/ideal_candidate_female.jpg);
}

/* FACELIFT */

.about_facelift {
    background-image: url(../images/procedure_images/facelift/about_facelift.jpg)
}

.anticipated_facelift {
    background-image: url(../images/procedure_images/facelift/facelift2.jpg)
}

.results_facelift {
    background-image: url(../images/procedure_images/facelift/expected_facelift.jpg)
}
