/* GENERAL CSS */

body {
    letter-spacing: .08rem;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
}


/* OWL CAROUSEL */
.owl-prev, .owl-next {
    background: transparent !important;
    font-size: 2rem;
}


/* HERO SECTION */
#landing-svg {
    height: 20rem;
}

#section-welcome {
    position: relative;
}

.section-welcome-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.id-color {
    color: #48b8d0;
    font-weight: 600;
    font-size: 2rem;
    /* letter-spacing: .1rem; */
}

.hero-svg-top {
    height: 6rem;
    margin-top: 1rem;
    transition: all .5s;
}

.shrink-logo {
    height: 5rem;
}

.ultra-big-white {
    font-size: 6rem !important;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
}

.text-item {
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    font-size: 6rem;
}


/* NAV AND SIDENAV */
#menu-btn {
    background: transparent;
}

#menu-btn:hover {
    background: transparent;
}

#menu-btn:hover:before {
    color: white;
}

.height-auto {
    height: 100vh;
}

header {
    position: fixed;
}

header.header-mobile {
    overflow-y: scroll;
}


/* DESCRIBE SECTION - LANDING PAGE */

.section-describe-col {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section-describe-headshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-describe-header {
    padding-left: 4rem;
    color: #202020;
    font-weight: 600;
}

.section-describe-paragraph {
    padding-left: 4rem;
}

.section-describe-button {
    margin-left: 4rem;
}

.section-about-us-2-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-about-us-2-header {
    font-size: 4em;
}




/* LANDING BEFORE AND AFTER SECTION */
.section-before-after h1,
.section-before-after h2,
.section-before-after h3,
.section-before-after h4,
.section-before-after p  {
    color: black;
}

.de_count h3 {
    color: white;
}

.de_count span {
    font-size: 2rem;
}




/* LANDING SERVICES GALLERY */
#section-portfolio-2 {
    padding-top: 120px;
}


/* LANDING FEATURES SECTION */
#section-pattern-1 h1,
#section-pattern-1 h2,
#section-pattern-1 h3,
#section-pattern-1 h4,
#section-pattern-1 p {
    color: #18191b;
}

#section-pattern-1 {
    background: #fff !important;
}



#view-all-projects {
    background: url(../images-bunkis/banner-bg-test.jpg);
    height: 400px;
    background-attachment: fixed;
    position: relative;
}

#view-all-projects:before {
    background-color: rgba(241, 241, 241, 0.57);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#view-all-projects .container {
    height: 100%;
}

#view-all-projects .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-projects-header {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-right: 2rem;
    font-size: 4rem;
    margin: 0;
}

#view-all-projects a {
    color: #fff;
}

#view-all-projects i {
    font-size: 2.5rem;
    opacity: .7;
}

.view-all-projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



#section-before-after {
    position: relative;
}

#section-before-after:before {
    background-color: rgba(205,239,243,.8);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


#section-steps-4 {
    background-attachment: fixed;
    color: #fff;
}

#section-steps-4 h1,
#section-steps-4 h2,
#section-steps-4 h3,
#section-steps-4 h4,
#section-steps-4 p {
    color: #fff;
}




#footer-svg {
    height: 8rem;
}




@media only screen and (max-width: 768px) {
    .hero-svg-top {
        height: 4rem;
    }
}

@media only screen and (max-width: 414px) {
    #landing-svg {
        height: 8rem;
    }

    a.btn-slider {
        font-size: 1rem;
    }

    .view-all-projects-header {
        font-size: 3rem;
    }
}